@import "./variables";

.main {
  height: 99.5vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;

  &__body {
    flex-basis: 100%;
    height: calc(100% - $general_height);

    display: flex;
    align-items: flex-end;

    &__boxNotes {
      height: 100%;
      width: 100%;
      overflow-y: auto;
    }

    &--note {
      margin-block-end: 10px;
      padding: 5px;
      border: 1px solid rgb(220, 219, 219);
      border-radius: 10px;
      margin-left: 10px;
      width: fit-content;
    }
  }

  &__inputBtn {
    flex-basis: 100%;
    min-height: $general_height;
    display: flex;

    &__text {
      width: 80%;
    }

    &__button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 20%;
      margin-bottom: 10px;
    }
  }
}
