<div class="main">
  <div class="main__body">
    <ul class="main__body__boxNotes">
      <li *ngFor="let note of notes" class="main__body--note">{{ note }}</li>
    </ul>
  </div>

  <div class="main__inputBtn">
    <div class="main__inputBtn__text">
      <app-text-field [(content)]="message" class="textField"></app-text-field>
    </div>
    <div class="main__inputBtn__button">
      <app-button text="Add" (onClick)="buttonClick()"></app-button>
    </div>
  </div>
</div>
